/* css reset */

* {
    margin: 0;
    padding: 0;
}

/* css variables */
:root {
    --navbar-height: 60px;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

/* navigation bar :logo and image */
#logo {
    /* display: flex; */
    height: 60px;
    margin: 4px 4px;
}

#logo img {
    height: 55px;
    margin: 1px 5px;

}

/* navigation bar : list styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}


#navbar ul {
    display: flex;
    font-family: 'ABeeZee', sans-serif;

}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

/* List inside a tag  */
#navbar ul li a {
    color: honeydew;
    display: block;
    padding: 5px 15px;
    border-radius: 75px;
    text-decoration: none;

}

/* hover to the navbar */
#navbar ul li a:hover {
    color: darkcyan;
    background-color: black;
    /* display: block;
    padding: 20px 10px;
    padding: 25px 15px;
    border-radius: 20px;
    text-decoration: none; */

}

/* HOME section */
#home {
    display: flex;
    flex-direction: column;
    height: 578px;
    padding: 5px 75px;
    justify-content: center;
    align-items: center;
}

/* BEfore Psudo selector */
#home::before {
    content: "";
    position: absolute;
    background: url('bg1.png') no-repeat center center/cover;
    height: 550px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;

}

#home h1 {
    color: darksalmon;
    /* color: rgb(0, 255, 17); */
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-family: 'Spline Sans', sans-serif;
    margin: 20px;
}

#home p {
    color: honeydew;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'EB Garamond', serif;
    font-family: 'Spline Sans', sans-serif;
}

/* services classes */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid black;
    padding: 25px;
    margin: 5px;
    border-top-left-radius: 23px;
    border-bottom-right-radius: 23px;
    background-color: rgb(111, 125, 111);
}

#services .box img {
    height: 130px;
    width: 130px;
    margin: auto;
    display: block;
    border: 1px solid white;
    border-radius: 23px;

}

#services .box p{
    font-family: 'ABeeZee', sans-serif;

}

#services {}




/* utility classes */
.h-primary {
    font-family: 'ABeeZee', sans-serif;
    font-size: 3.5rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'ABeeZee', sans-serif;
    font-size: 2.5rem;
    padding: 12px;
}

.btn {

    background-color: rgb(32, 78, 32);
    border: 2px solid rgb(32, 78, 32);
    padding: 3px;
    margin: 10px 5px;
    color: honeydew;
    font-size: 1.1rem;
    border-radius: 7px;
    cursor: pointer;
}

.center {
    text-align: center;
}